{{> navbar navBarClasses.createWorkout }}

<a href="/library/create-workout">Go back to workout</a>

<form method="POST" action="/library/create-exercise">
  <label for="exercise-name">Exercise name</label>
  <input type="text" id="exercise-name" name="name" />

  <label for="exercise-description">Exercise description</label>
  <input type="text" id="exercise-description" name="description" />

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <h3>What equipment do you need for this exercise?</h3>
  {{#each equipments}}
    <div>
      <input type="checkbox" id="{{this}}" name="{{this}}" />
      <label for="{{this}}">{{this}}</label>
    </div>
  {{/each}}

  <h3>Which muscles do you train with this exercise?</h3>
  {{#each muscles}}
    <div>
      <input type="checkbox" id="{{this}}" name="{{this}}" />
      <label for="{{this}}">{{this}}</label>
    </div>
  {{/each}}

  <button>Create exercise</button>
</form>