<article class="new-exercise">
  <span>{{this.exerciseName}}</span>

  <input  min="1" max="1000" name="reps" type="number" id="reps" value="{{this.reps}}"/>

  <label for="unitType">Unit</label>
  <select name="unitType" id="unitType">
    {{> options this.unitTypes}}  
  </select>
 
  <input min="1" max="1000" name="sets" type="number" id="sets" value="{{this.sets}}"/>
  <span>Sets</span>

  {{!-- ??? --}}
  {{!-- For some reason the number validators are not working in the partial. --}}
  <span>Rest between sets</span>
  <input
    min="0"
    max="1000"
    name="restBetweenSets"
    type="number"
    id="restBetweenSets"
    value="{{this.restBetweenSets}}"
  />
  <span>Seconds</span>

  <span>Rest between exercises</span>
  <input
    min="0"
    max="1000"
    name="restBetweenExercises"
    type="number"
    id="restBetweenExercises"
    value="{{this.restBetweenExercises}}"
  />
  <span>Seconds</span>

</article>