<div class="cr-wo-ex-container">

    <p class="cr-wo-ex-name">{{this.exerciseName}}</p>

    <div class="cr-wo-input-container">

      <input  min="1" max="1000" name="reps" type="number" id="reps" value="{{this.reps}}"/>
      
      <div>
        <select name="unitType" id="unitType">
          {{> options this.unitTypes}}  
        </select>
      </div>
    
      <input min="1" max="1000" name="sets" type="number" id="sets" value="{{this.sets}}"/>

      <input
        min="0"
        max="1000"
        name="restBetweenSets"
        type="number"
        id="restBetweenSets"
        value="{{this.restBetweenSets}}"
      />

      <input
        min="0"
        max="1000"
        name="restBetweenExercises"
        type="number"
        id="restBetweenExercises"
        value="{{this.restBetweenExercises}}"
      />

    </div>
</div>
