<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-container">
  <a class="navbar-brand logo-a" href="#">WorkoutY (logo)</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse space-around" id="navbarNavNav">
    <ul class="navbar-nav">
      <li class="{{this.myWorkouts.li}}">
        <a class="{{this.myWorkouts.a}}" href="/myworkouts"><i
            class="bi bi-house-door-fill icon-center"
          ></i>My workouts</a>
      </li>
      <li class="{{this.workoutLibrary.li}}">
        <a class="{{this.workoutLibrary.a}}" href="/library/search"><i
            class="bi bi-search icon-center"
          ></i>Workout Library</a>
      </li>
      <li class="{{this.createWorkout.li}}">
        <a class="{{this.createWorkout.a}}" href="/library/create-workout"><i class="bi bi-plus-square-fill icon-center"></i>
</i>Create Workout</a>
      </li>
      <li class="{{this.myFriends.li}}">
        <a class="{{this.myFriends.a}}" href="/friends"><i
            class="bi bi-people-fill icon-center"
          ></i>Friends</a>
      </li>
      <li class="{{this.profile.li}}">
        <a class="{{this.profile.a}}" href="/profile"><i
            class="bi bi-person-fill icon-center"
          ></i>Account</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav logout-ul">
    <li class="nav-item">
      <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-left icon-center fa-lg"></i>Log Out</a>
    </li>
  </ul>
</nav>