<article class="wo-info-single-ex-container">
  <img src="{{this.exerciseId.image}}" alt="Exercise image" />

  <div class="ex-info-inside-container">

    <h4>{{this.exerciseId.name}}</h4>
    <span class="mrg-btm">{{this.exerciseId.description}}</span>

    <div class="ex-details-container">

      <div class="ex-input-container">
        <input
          class="input-txt-medium"
          min="1"
          max="1000"
          name="reps"
          type="number"
          id="reps"
          value="{{this.reps}}"
        />
        <span>{{this.unitType}}</span>
      </div>

      <div class="ex-input-container">
        <input
          class="input-txt-medium"
          min="0"
          max="1000"
          name="restBetweenSets"
          type="number"
          id="restBetweenSets"
          value="{{this.restBetweenSets}}"
        />
        <span>Seconds rest between sets</span>
      </div>

      <div class="ex-input-container">
        <input
          class="input-txt-medium"
          min="1"
          max="1000"
          name="sets"
          type="number"
          id="sets"
          value="{{this.sets}}"
        />
        <span>Sets</span>
      </div>

      <div class="ex-input-container">
        <input
          class="input-txt-medium"
          min="0"
          max="1000"
          name="restBetweenExercises"
          type="number"
          id="restBetweenExercises"
          value="{{this.restBetweenExercises}}"
        />
        <span>Seconds rest between exercises</span>
      </div>
    </div>
  </div>

</article>