<article class="wo-info-single-ex-container">
  <img src="{{this.exerciseId.image}}" alt="Exercise image" />

  <div class="ex-info-inside-container">

    <h4>{{this.exerciseId.name}}</h4>
    <span class="mrg-btm">{{this.exerciseId.description}}</span>

    <div class="ex-details-container-row">

      <div class="ex-input-container-row">
        <p>{{this.reps}}</p>&nbsp&nbsp
        <p>{{this.unitType}}</p>
      </div>

      <div class="ex-input-container-row">
        <p>{{this.restBetweenSets}}</p>&nbsp&nbsp
        <p>Seconds rest between sets</p>
      </div>

      <div class="ex-input-container-row">
        <p>{{this.sets}}</p>&nbsp&nbsp
        <p>Sets</p>
      </div>

      <div class="ex-input-container-row">
        <p>{{this.restBetweenExercises}}</p>&nbsp&nbsp
        <p>Seconds rest between exercises</p>
      </div>
    </div>
  </div>

</article>