{{>navbar this}}


<h1>Hey {{currentUser.username}}, what's up today ?</h1>


<h2>Workouts To-do </h2>
{{#each currentWorkouts}}
{{#ifeq this.scheduled true}} 
<p>Workouts : {{this.name}}</p>
<a class = "btn btn-primary" href="/myworkouts/{{this._id}}/done"> I did it ! </a>
<br/>
{{/ifeq}}
{{/each}}

<a  href="/library/search">Add more workouts</a>

<h2>Previous workouts</h2>

{{#each currentWorkouts}}
{{#ifeq this.scheduled false}}
<p>Workouts : {{this.name}}</p>
<a class = "btn btn-primary" href="/myworkouts/{{this._id}}/scheduled"> Add it to plan </a>
<br/>
{{/ifeq}}
{{/each}}
