{{> navbar navBarClasses.profile }}


<div class = "profile-card">

<div class ="pr-attribute-container">
<h3 class="myProfileTitle">

<p class = "profileAttrib"></p>{{currentUser.username}}</p>
</h3><form method="GET" action="/profile/edit/username">
 <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form></div>

<div class ="img-area"><div class ="inner-area"><img src="{{currentUser.profilePic}}" alt="profile pic"></div></div>


<div class = "choosePic">
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input class = "profilePic" type="file" name="imageUrl" accept="image/png, image/jpg">
    <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button> 
</form> 
</div>

<div id ="containerProfile">
<div class ="one">


<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/email">
<button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form><p class = "profileAttrib"> Email : {{currentUser.email}}</p>

</div>

<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/password">
 <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form><p class = "profileAttrib">Password </p>

</div>

<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/birthday">
 <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form><p class = "profileAttrib">Birthday : {{formatTime currentUser.birthday "DD-MM-YYYY"}}</p>
</div>

<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/trainername">
  <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form><p class = "profileAttrib">Trainer name : {{currentUser.trainername}}</p>

</div>
</div>

<div class = "two">
<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/goals">
 <button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form>
<p class = "profileAttrib">Goals : {{currentUser.goals}}</p>

</div>

<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/athletetype">
<button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button></p>
</form>
<p class = "profileAttrib">Athlete Type : {{currentUser.athleteType}}

</div>

<div class ="pr-attribute-container">
<form method="GET" action="/profile/edit/body">
<button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button>
</form>
<p class = "profileAttrib">Height : {{currentUser.height}} cm</p>

</div>

<div class ="pr-attribute-container">

<form method="GET" action="/profile/edit/body">
<button class="btn btn-outline*" type="submit"><i class="bi bi-pencil"></i></button></p>
</form><p class = "profileAttrib">Weight : {{currentUser.weight}} kg 
</div>
</div>


</div>
</div>