<h1>My profile </h1>

<p>Username : {{currentUser.username}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/username">
  <button type="submit">Edit</button>
</form>
<p>Email : {{currentUser.email}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/email">
  <button type="submit">Edit</button>
</form>
<p>Password : </p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/password">
  <button type="submit">Edit</button>
</form>
<p>Birthday : {{currentUser.birthday}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/birthday">
  <button type="submit">Edit</button>
</form>
<p>Trainer name : {{currentUser.trainername}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/trainername">
  <button type="submit">Edit</button>
</form>
<p>Goals : {{currentUser.goals}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/goals">
  <button type="submit">Edit</button>
</form>
<p>Athlete Type : {{currentUser.athleteType}}</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/athletetype">
  <button type="submit">Edit</button>
</form>
<p>Height : {{currentUser.height}} cm</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/body">
  <button type="submit">Edit</button>
</form>
<p>Weight : {{currentUser.weight}} kg</p>
<form method="GET" action="/profile/{{currentUser._id}}/edit/body">
  <button type="submit">Edit</button>
</form>