{{> navbar navBarClasses.profile }}


<div class = "profile-card">
<h3 class="myProfileTitle">My profile </h3>

<div class ="img-area"><div class ="inner-area"><img src="{{currentUser.profilePic}}" alt="profile pic"></div></div>

<div class = "choosePic">
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input class = "profilePic" type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form> 
</div>

<p class = "profileAttrib">Username : {{currentUser.username}}</p>
<form method="GET" action="/profile/edit/username">
 <button style="float: right" type="submit">Edit</button>
</form>
<p class = "profileAttrib">Email : {{currentUser.email}}</p>
<form method="GET" action="/profile/edit/email">
  <div class ="button-small"><button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Password : </p>
<form method="GET" action="/profile/edit/password">
 <div class ="button-small"> <button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Birthday : {{currentUser.birthday}}</p>
<form method="GET" action="/profile/edit/birthday">
  <div class ="button-small"><button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Trainer name : {{currentUser.trainername}}</p>
<form method="GET" action="/profile/edit/trainername">
  <div class ="button-small-small"><button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Goals : {{currentUser.goals}}</p>
<form method="GET" action="/profile/edit/goals">
 <div class ="button-small"> <button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Athlete Type : {{currentUser.athleteType}}
<form method="GET" action="/profile/edit/athletetype"> <div class ="button-small"> <button type="submit">Edit</button></p></div>
</form>
<p class = "profileAttrib">Height : {{currentUser.height}} cm</p>
<form method="GET" action="/profile/edit/body">
  <div class ="button-small"> <button type="submit">Edit</button></div>
</form>
<p class = "profileAttrib">Weight : {{currentUser.weight}} kg <form method="GET" action="/profile/edit/body"><div class ="button-small"> <button type="submit">Edit</button></div></p>
</form>

</div>