{{> navbar navBarClasses.profile }}

<h1>My profile </h1>

<img class = "profilePic" src="{{currentUser.profilePic}}" alt="profile pic">

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input class = "profilePic" type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Submit</button> 
</form> 

<p>Username : {{currentUser.username}}</p>
<form method="GET" action="/profile/edit/username">
  <button type="submit">Edit</button>
</form>
<p>Email : {{currentUser.email}}</p>
<form method="GET" action="/profile/edit/email">
  <button type="submit">Edit</button>
</form>
<p>Password : </p>
<form method="GET" action="/profile/edit/password">
  <button type="submit">Edit</button>
</form>
<p>Birthday : {{currentUser.birthday}}</p>
<form method="GET" action="/profile/edit/birthday">
  <button type="submit">Edit</button>
</form>
<p>Trainer name : {{currentUser.trainername}}</p>
<form method="GET" action="/profile/edit/trainername">
  <button type="submit">Edit</button>
</form>
<p>Goals : {{currentUser.goals}}</p>
<form method="GET" action="/profile/edit/goals">
  <button type="submit">Edit</button>
</form>
<p>Athlete Type : {{currentUser.athleteType}}</p>
<form method="GET" action="/profile/edit/athletetype">
  <button type="submit">Edit</button>
</form>
<p>Height : {{currentUser.height}} cm</p>
<form method="GET" action="/profile/edit/body">
  <button type="submit">Edit</button>
</form>
<p>Weight : {{currentUser.weight}} kg</p>
<form method="GET" action="/profile/edit/body">
  <button type="submit">Edit</button>
</form>